<header class="header">
    <div class="logo-container">
        KONTEJNER ZA LOGO
    </div>
    <nav class="navbar">
        <div class="navbar_bars">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="navbar-menu">
            <a  class="active" href="#section1">Section1</a>
            <a  href="#section2">Section2</a>
            <a  href="#section3">Section3</a>
            <a  href="#section4">Section4</a>
            <a  href="#section5">Section5</a>
        </nav>

    </nav>
</header>
<!--SCROLLSPY-->
<script>
    let section = document.querySelectorAll("section");
    let navLinks = document.querySelectorAll("header nav nav a");

    window.onscroll = () =>{
        section.forEach(sec =>{
            let top=window.scrollY;
            let offset =sec.offsetTop-150;
            let height = sec.offsetHeight;
            let id = sec.getAttribute('id');

            if(top >= offset && top <offset+height){
                navLinks.forEach(links =>{
                    links.classList.remove('active');
                    document.querySelector('header nav nav a[href*=' + id  + ']').classList.add('active');
                })
            }
        })
    }
</script>

