@import './constants';

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;
}
#section1 {
    background-color: $Zelena1;
}
#section2 {
    background-color: $SvijetloSiva;
}
#section3 {
    background-color: $Zelena1;
}
#section4 {
    background-color: $SvijetloSiva;
}
#section5 {
    background-color: $Zelena1;
}