<section class="section"  id="section1">Page1</section>
    <section class="section"  id="section2">Page2</section>
    <section class="section"  id="section3">Page3</section>
    <section class="section"  id="section4">Page4</section>
    <section class="section"  id="section5">Page5</section>
    <section class="footer">Footer</section>

    <!--JS--------------------------------------------------------------------------------------->

    <!--STICKY NAVBAR-->
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY>0);
        })
    </script>
    <!--SCROLLSPY-->
    <script>
        let section = document.querySelectorAll("section");
        let navLinks = document.querySelectorAll("header nav nav a");

        window.onscroll = () =>{
            section.forEach(sec =>{
                let top=window.scrollY;
                let offset =sec.offsetTop-150;
                let height = sec.offsetHeight;
                let id = sec.getAttribute('id');

                if(top >= offset && top <offset+height){
                    navLinks.forEach(links =>{
                        links.classList.remove('active');
                        document.querySelector('header nav nav a[href*=' + id  + ']').classList.add('active');
                    })
                }
            })
        }
    </script>
